@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Contact</h1>
<p>please use the form below to get in touch</p>

<form action="/Home/ContactInput" method="post">
    <div id="form">
    <label for="Name" >Name*</label>
    <input id="Name" name="Name" type="text" maxlength="100" />
    <label for="Company">Company (Optional)</label>
    <input id="Company" name="Comapny" type="text" maxlength="100" />
    <label for="EmailAddress">Email Address*</label>
    <input id="EmailAddress" name="EmailAddress" type="text" maxlength="100" />
    <label for="PhoneNumber">Phone Number*</label>
    <input id="PhoneNumber" name="PhoneNumber" type="text" maxlength="100" />
    <label for="Subject">Subject*</label>
    <input id="Subject" Name ="Subject" type="text" maxlength="100" />
    <label for="Message">Message*</label>
    <textarea id="Message" name = "Message" maxlength="100" ></textarea>
    </div>
    <div id="submitBtnContainer">
     <input type="submit" aria-label="Submit" id="submitBtn"/>
     </div>
    <label id="ErrorMessage">@ViewData["ErrorMessage"]</label>
    
</form>
