@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Education</h1>
<main class="mainEducation">
<section class="Scroll">
    <h2>Computer science BSc (Hons)</h2>
    <p>De Montfort University</p>
    <p>Awarded Best Student in second and final year</p>
    <h3>Modules</h3>
    <div class="carousel">
        <div class="slide carouselAnimation">
            <h4>Mobile application development</h4>
            <p>Grade 86%</p>
            <p>
                I worked as part of a team using android
                studios with Kotlin as the team developed an app for a coffee shop, that would take
                orders, edit menu items and allow people to purchase items.
            </p>
        </div>
        <div class="slide carouselAnimation">
            <h4>Development project</h4>
            <p>Grade 90%</p>
            <p>
                I independently developed a stock management
                system using eclipse, java, JavaFX and MySQL. The application had dynamic menus,
                CRUD functionality, hashed passwords, it could take info from files and output info to
                other files, validation and verification.
            </p>

        </div>
        <div class="slide carouselAnimation">
            <h4>Front end web development</h4>
            <p>Grade 88%</p>
            <p>
                I developed a rock-climbing website that was
                made using HTML, CSS and JavaScript along with coding techniques such as
                keyframes, RESTful Apis, JSON and cookies.
            </p>
        </div>
        <div class="slide carouselAnimation">
            <h4>Functional software development</h4>
            <p>Grade 92%</p>
            <p>
                In this module we used scala following the
                functional paradigm in the IntelliJ IDE, as I was taught how to manipulate matrix’s from
                one state to another.
            </p>

        </div>
            <div class="slide carouselAnimation">
            <h4>Functional software development</h4>
            <p>Grade 92%</p>
            <p>
                In this module we used scala following the
                functional paradigm in the IntelliJ IDE, as I was taught how to manipulate matrix’s from
                one state to another.
            </p>

        </div>
    </div>
</section>
<section class="Scroll">
    <h2>OCR LEVEL 3 CAMBRIDGE TECHNICAL EXTENDED DIPLOMA IN IT,</h2>
    <p>Nortahmpton College</p>
    <p>Grade</p>
    <p>Distinction* Distinction* Distinction*</p>
</section>
<section class="Scroll">
    <h2>Alevels</h2>
    <p>Nortahmpton College</p>
    <p>Grade</p>
    <p>Sociology - C</p>
    <p>Geography - D</p>
</section>
<section class="Scroll">
    <h2>GCSE</h2>
    <p>Quinton House</p>
    <p>Grade</p>
    <p>Randing from D-B</p>
</section>
</main>