@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Education</h1>
<section>
    <h2>Computer science BSc (Hons)</h2>
    <p>De Montfort University</p>
    <p>Awarded Best Student in second and final year</p>
    <h3>Modules</h3>
</section>
<section>
    <h2>OCR LEVEL 3 CAMBRIDGE TECHNICAL EXTENDED DIPLOMA IN IT,</h2>
    <p>Nortahmpton College</p>
    <p>Grade</p>
    <p>Distinction* Distinction* Distinction*</p>
</section>
<section>
    <h2>Alevels</h2>
    <p>Nortahmpton College</p>
    <p>Grade</p>
    <p>Sociology - C</p>
    <p>Geography - D</p>
</section>
<section>
    <h2>GCSE</h2>
    <p>Quinton House</p>
    <p>Grade</p>
    <p>Randing from D-B</p>
</section>