body {
}
.slide{
    display:none;
}
.carouselAnimation {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

*{
    text-align:center;
}
section, h1 {
    border: 0px;
    border-bottom: 5px;
    border-color: #c2cdbd;
    border-style: solid;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    padding:10px 0px 10px 0px;
}
section *{
    margin:0px;
   
}
h3{
    font-size:29px;
    padding-bottom:20px;
    padding-top:20px;
}
h4{
    font-size:27px;
    padding-bottom:15px;
}

