@{
    ViewData["Title"] = "Home Page";
}
<section id="indexTitle">
<h1>George Finch</h1>
<p>Software developer</p>
</section>
<section id="indexContent">
<figure>
<img alt="graudation" src="lib/assets/graduation.jpg" />
</figure>
<div>
<h2>About George</h2>
<p class="alignText">
    I am a graduate of De Montfort university, where I studied computer science and achieved a first-
    class honours along with being top of my class in the second and final year. During my time at university,
    I have been able to hone my problem-solving skills as well as my ability to work in a team and communicate effectively. 
    I am looking for an opportunity in software development, that will challenge my coding skills and allow me to be 
    a part of an effective and friendly team
</p>
</div>
</section>