body {
}
figure{
display:flex;
align-items:center;
justify-content:center;
}
img {
    border-radius: 10px;
    width: 75vw;
}
h2{
    text-align:center;
}
.alignText{
    text-align:center;
}
h1{
    margin:0;
}

@media screen and (min-width: 768px) {
    #indexTitle {
        background-color: #5e8d83;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        position: relative;
        top: -21px;
        left: -21px;
        padding-bottom: 20px;
    }

    p {
        margin: 0px;
        max-width:50vw;
    }
    #indexContent{
        display:flex;
        gap:20px;
        justify-content:space-around;
        align-items:center;
    }
    img{
        width:auto;
    }
   
}