@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
<section id="skillTitle">
<h1>Skills</h1>
<p>George bring multiple different skills not only from eductaion, and work expirence but also personal projects. </p>
    </section>
<main>
<section>
    <h2>porgamming</h2>
    <p>Java</p>
    <p>javaScript</p>
    <p>HTML</p>
    <p>css</p>
    <p>MySQL</p>
</section>

<section>
    <h2>Java ecosystem</h2>
    <p>javafx</p>
    <p>Junit</p>
    <p>JDoc</p>
</section>

<section>
    <h2>JS ecosystem</h2>
    <p>node</p>
    <p>React</p>
    <p>JSX</p>
    <p>webpack</p>
    <p>babel</p>
    <p>npx</p>
    <p>react router</p>
</section>

<section>
    <h2>little expriences</h2>
    <p>C#</p>
    <p>kotlin</p>
    <p>scala</p>
    <p>python</p>
</section>

<section>
    <h2>coding software</h2>
    <p>Github</p>
    <p>eclipse</p>
    <p>visualStudio code</p>
    <p>mySql work bench</p>

</section>

<section>
    <h2>hard Skills</h2>
    <p>Driving linces</p>
    <p>Porgamming design</p>
    <p>program testing</p>
    <p>research</p>
</section>




<section>
    <h2>soft Skills</h2>
    <p>Documenation</p>
    <p>self motivation</p>
    <p>collberative</p>
    <p>independent</p>
</section>
<section>
    <h2>Essential</h2>
    <p>Microsoft Office Suite</p>
    <p>outlook</p>
    <p>gmail</p>
    <p>google drive</p>
    <p>one drive</p>
</section>
</main>
</div>